<!DOCTYPE html>
    <html lang="en">
    <head>
      
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <title><%= title %></title>

      <meta property="fc:frame" content="vNext" />
      <meta property="fc:frame:image" content="<%= image %>" />
      <meta property="og:image" content="<%= image %>">

      <% if(typeof postUrl !== 'undefined') { %>
        <meta property="fc:frame:post_url" content="<%= postUrl %>" />
      <% } %>

      <% if(typeof input !== 'undefined') { %>
        <% if(input.placeholder) { %>
          <meta property="fc:frame:input:text" content="<%= input.placeholder %>"/>
        <% } %>
      <% } %>
      
      <% if(typeof buttons !== 'undefined' && buttons.length > 0) { %>
        <% buttons.forEach(function(button, index) { %>
          <% if(button.text) { %>
            <meta property="fc:frame:button:<%= index + 1 %>" content="<%= button.text %>" />
          <% } %>

          <% if(button.action) { %>
            <meta property="fc:frame:button:<%= index + 1 %>:action" content="<%= button.action %>" />
          <% } %>

          <% if(button.target) { %>
            <meta property="fc:frame:button:<%= index + 1 %>:target" content="<%= button.target %>" />
          <% } %>

        <% }); %>
      <% } %>
      

      <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            background: rgba(255, 255, 255, 0.1);
            padding: 20px;
            border-radius: 10px;
        }
        h1 {
            font-size: 24px;
        }
        p {
            margin: 20px 0;
        }
        a {
            display: inline-block;
            background: #4b6cb7;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.3s ease;
        }
        a:hover {
            background: #3b5998;
        }
    </style>
    </head>
    <body>
      <div class="container">
        <h1>Welcome to Rubic's Cube Experience</h1>
        <p>Explore the interactive Rubik's Cube through Farcaster frames and dive into a futuristic puzzle-solving journey from anywhere, at any time. Now, you can also earn $TOSHI or $FRAME as you solve puzzles!</p>
        <p>Click the link below to start your adventure with our interactive frames. Experience the next level of digital puzzles! Make sure to log in so you can play and earn.</p>
        <a href="https://warpcast.com/~/compose?text=solve+to+earn+$toshi+or+$frame&embeds[]=<%= process.env.FC_DOMAIN %>/frame" target="_blank">Share</a>
    </div>
    </body>
</html>